/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
header {
  font-family: "Sometype Mono", monospace;
  text-transform: uppercase;
  font-style: italic;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  background-image: url(../img/wall.png);
}

main {
  background-image: url(../img/cork.png);
}

/* utils */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Card */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;

  .col-4 {
    width: calc(100% / 12 * 4);
    padding: 0 10px;

    .card {
      padding: 20px;
      background-color: #fff;
      margin-bottom: 2rem;
      position: relative;

      .pin {
        position: absolute;
        top: -10px;
        right: 170px;
      }

      img {
        max-width: 100%;
        vertical-align: middle;
      }

      .card-body {
        margin-top: 20px;

        span {
          font-family: "Edu TAS Beginner", cursive;
        }
      }
    }
  }
}
